<!DOCTYPE html>
<html>
<head>
    <title>Secure Acceptance - Payment Form Example</title>
    <link rel="stylesheet" type="text/css" href="/css/payment.css"/>
    <!-- Modern alternative to jQuery -->
    <script src="./public/js/payment_form.js"></script>
</head>
<body>
    <form id="payment_form" action="/payment/confirm" method="post">
        <input type="hidden" name="access_key", value="<%= accessKey %>">
        <input type="hidden" name="profile_id", value="<%= profileId %>">
        <input type="hidden" name="transaction_uuid" value="<%= transactionUuid %>">
        <input type="hidden" name="signed_field_names" value="access_key,profile_id,transaction_uuid,signed_field_names,unsigned_field_names,signed_date_time,locale,transaction_type,reference_number,amount,currency">
        <input type="hidden" name="unsigned_field_names">
        <input type="hidden" name="signed_date_time" value="<%= signedDateTime %>">
        <input type="hidden" name="locale" value="en">
        
        <fieldset>
            <legend>Payment Details</legend>
            <div id="paymentDetailsSection" class="section">
                <span>transaction_type:</span>
                <input type="text" name="transaction_type" size="25"><br/>
                
                <span>reference_number:</span>
                <input type="text" name="reference_number" size="25"><br/>
                
                <span>amount:</span>
                <input type="text" name="amount" size="25"><br/>
                
                <span>currency:</span>
                <input type="text" name="currency" size="25"><br/>
            </div>
        </fieldset>
        
        <input type="submit" id="sumbit" name="submit" value="Submit"/>
    </form>

    <!-- Modern JavaScript replacement for payment_form.js -->
    <script>
        $("#payment_form").submit(function (e) {
            document.getElementById("idTransactionUuid").value = crypto.randomUUID();
            document.getElementById("idSignedDateTime").value = new Date().toISOString();
            document.getElementById("idAccessKey").value = "d98a41c035ca306f983e612bf2f385bb"; // From environment variables
            document.getElementById("idProfileId").value = "951D9CC0-7EC4-4790-8E43-ADB9F16D0430"; // From environment variables
            console.log("Debug : " + document.getElementById("idProfileId").value);
        
        })

    </script>
</body>
</html>